@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Bree+Serif&family=Josefin+Sans&display=swap');

body {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  font-family: 'Bree Serif', serif;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: nowrap;
}
li {
  padding: 4px;
}

.rows {
  display: flex;
  justify-content: space-around;
}
